<%- include("header") -%>

<div style = "text-align: center;">
    <h1>Your given details are as follows : </h1>
    <h6>Your name : <%= SHname %></h6>
    <h6>Your e-mail : <%= SHemail %></h6>
    <h6>Your Number : <%= SHnum %></h6>
    <p>You have successfully REGISTERED!!</p>
    <h3>TO GO TO HOME PAGE CLICK ON "DRIBBLE"</h3>
</div>
<%- include("footer") -%>